<h1 class="center teal-text text-darken-3">Software Contexts for Locality</h1>
<h3 class="center teal-text text-darken-4">A flexible library for running multiple parallel codes concurrently.</h3>

<div class="row">
        <div class="col s12 l6 valign-wrapper" id="swloc_stack_descr">
                <div class="card white z-depth-3">
                        <div class="card-content teal-text text-darken-3 center-align">
                                <span class="card-title teal-text text-darken-4">What is it for ?</span>
                                <p>SwLoc is an open source library for resource partionning to containerize different parallel codes without modification</p>
                        </div>
                </div>
        </div>
        <div class="col s12 l6 center-align" id="swloc_stack">
                <img style="height:500px" src="./img/overview_swloc.svg" alt="Software Stack with SwLoc" />
        </div>
</div>

<div class="row">
        <div class="col s12">
                <div class="card white z-depth-3">
                        <div class="card-content teal-text text-darken-3 center-align">
                                <span class="card-title teal-text text-darken-4">What does it provide ?</span>
                                <ul>
                                        <li>- Lightweight isolation </li>
                                        <li>- Ressources negotiation </li>
                                        <li>- Flexible thread placement</li>
                                </ul>
                        </div>
                </div>
        </div>
</div>

<div class="row">
        <div class="col s12 center-align" id="swloc_archi">
                <div class="card white z-depth-3">
                        <div class="card-content teal-text text-darken-3 center-align">
                                <span class="card-title teal-text text-darken-4">Typical usage</span>
                                <ul class="collapsible popout">
                                        <li>
                                                <div class="collapsible-header"><i class="large material-icons">add</i>Run multiple libraries concurrently</div>
                                                <div class="collapsible-body">TODO</div>
                                        </li>
                                        <li>
                                                <div class="collapsible-header"><i class="large material-icons">add</i>Tight cost coupling</div>
                                                <div class="collapsible-body">TODO</div>
                                        </li> 
                                </ul>
                        </div>
                </div>
        </div>
</div>

<div class="row">
        <div class="col s12">
                <div class="card white z-depth-3">
                        <div class="card-content teal-text text-darken-3 center-align">
                                <span class="card-title teal-text text-darken-4">How does it work ?</span>
                                <ul class="collapsible popout">
                                        <li>
                                                <div class="collapsible-header"><i class="large material-icons">add</i>Controlled environment</div>
                                                
                                                <div class="collapsible-body left-align">
                                                        <p>SwLoc executes each part of code in a controlled environment in order to manage what this part of the application sees about the machine, where threads can be placed and more.</p>
                                                        <p>To achieve this goal, SwLoc need to catch some function calls and requires to set the environment variable <strong>LD_PRELOAD</strong> before the execution of the application :
                                                        <pre class="teal"><code class="language-shell">LD_PRELOAD=/path/to/SwLoc/libswloc.so ./myApp</code></pre>
                                                        </p>
                                                        <p>In this case, the link editor will first use the SwLoc functions before the real functions in libraries.</p>
                                                </div>
                                        </li>
                                        <li>
                                                <div class="collapsible-header"><i class="large material-icons">add</i>HwLoc</div>
                                                <div class="collapsible-body left-align">
                                                        <p>HwLoc is a common, famous and most-used library to get informations about computer topology, to bind threads or choose a NUMA node.</p>
                                                        <p>SwLoc supports the calls to the HwLoc functions and returns a modified topology of the machine. It only shows the computing resources available for each kernels.</p>
                                                </div>
                                        </li>
                                        <li>
                                                <div class="collapsible-header"><i class="large material-icons">add</i>Runtimes</div>
                                                <div class="collapsible-body left-align">
                                                        <p>SwLoc also supports Runtimes like OpenMP or Intel TPB.</p>
                                                </div>
                                        </li> 
                                        <li>
                                                <div class="collapsible-header"><i class="large material-icons">add</i>Comparison with others</div>
                                                <div class="collapsible-body left-align">
                                                </div>
                                        </li> 
                                </ul>
                        </div>
                </div>
        </div>
</div>

<div class="row teal-text text-darken-4">
        <div class="col s4 center-align">
                <i class="large material-icons">group</i>
        </div>
        <div class="col s4 center-align">
                <i class="large material-icons">work</i>
        </div>
        <div class="col s4 center-align">
                <i class="large material-icons">file_download</i>
        </div>
</div>
<div class="row teal-text text-darken-3">
        <div class="col s4 center-align">
                <span class="swloc_promo">Contributors</span>
        </div>
        <div class="col s4 center-align">
                <span class="swloc_promo">Getting started</span>
        </div>
        <div class="col s4 center-align">
                <span class="swloc_promo">Download SwLoc</span>
        </div>
</div>
<div class="row">
        <div class="col s4 center-align">
                <a class="waves-effect waves-light btn-floating btn-large teal accent-3" href="?p=contributors"><i class="large material-icons">send</i></a>
        </div>
        <div class="col s4 center-align">
                <a class="waves-effect waves-light btn-floating btn-large teal accent-3" href="?p=examples"><i class="large material-icons">send</i></a>
        </div>
        <div class="col s4 center-align">
                <a class="waves-effect waves-light btn-floating btn-large teal accent-3" onclick="$('.tap-target').tapTarget('open')"><i class="large material-icons">send</i></a>
        </div>
</div>
