                        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                                <a id="menu" class="btn btn-floating btn-large teal accent-3" href="https://gforge.inria.fr/scm/?group_id=9872">
                                        <i class="material-icons">file_download</i>
                                </a>
                        </div>

                        <div class="tap-target teal accent-4" data-target="menu">
                                <div class="tap-target-content white-text">
                                        <h5>Download</h5>
                                        <p class="white-text">Do you want to use or just to try <strong>SwLoc</strong> ?<br />
                                        Click here to access to the Git repository !</p>
                                </div>
                        </div>
                </main>

                <footer class="page-footer teal darken-1">
                        <div class="center">
                                <img src="img/logo-inria.svg" style="height:35px" alt="Inria logo" />
                        </div>
                </footer>

                <!--JavaScript at end of body for optimized loading-->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
                <script src="./js/prism.js"></script>
                <script src="./js/site.js"></script>
                <script>
                        $(document).ready(function(){
                                $('.sidenav').sidenav();
                        });

                        var swloc_stack_base;

                        function swloc_resize()
                        {
                                var global_width = $("html").width();
                                if (global_width > 980)
                                {
                                        $("#swloc_stack_descr").height(525);
                                }
                                else
                                {
                                        $("#swloc_stack_descr").height(swloc_stack_base);
                                }
                        }

                        $(document).ready(function(){
                                swloc_stack_base = $("#swloc_stack_descr").height();
                                swloc_resize();
                        });

                        window.onresize = swloc_resize;

                        
                        $(document).ready(function(){
                                $('.tap-target').tapTarget();
                        });
                </script>
        </body>
</html>
