<h1 class="center teal-text text-darken-3">Contributors</h1>
<ul class="collection z-depth-3">
        <li class="collection-item avatar">
                <span class="title"><strong>Corentin Salingue</strong></span>
                <p>R&D Ingineer<br>
                Inria
                </p>
                <a class="secondary-content waves-effect waves-light btn-floating teal accent-3" href="https://www.linkedin.com/in/corentin-salingue"><i class="large material-icons">send</i></a>
        </li>
        <li class="collection-item avatar">
                <span class="title"><strong>Raymond Namyst</strong></span>
                <p>Full Professor<br>
                University of Bordeaux
                </p>
                <a class="secondary-content waves-effect waves-light btn-floating teal accent-3" href="http://dept-info.labri.fr/~namyst/"><i class="large material-icons">send</i></a>
        </li>
</ul>
