body
{
        display: flex;
        min-height: 100vh;
        flex-direction: column;
}

main
{
        flex: 1 0 auto;
}

.card-title
{
        font-weight: bold !important;
}

strong
{
        font-weight: bold;
}

.swloc_promo
{
        font-size: 1.3rem;
        font-weight: 500;
}
