<h1 class="center teal-text text-darken-3">Hypervisor</h1>
<h3 class="center teal-text text-darken-4">How to adapt resources between contexts</h3>

<!--<div class="row">
        <div class="col s12">
                <div class="card white z-depth-3">
                        <div class="card-content teal-text text-darken-3">
                                <span class="card-title teal-text text-darken-4">SwLoception !</span>
                                <p>Maybe, you use a library which already uses SwLoc and you didn't know it or you want to have a better granularity ?</p>
                                <p>It is possible to use SwLoc in SwLoc !</p>
                        </div>
                </div>
        </div>
</div>

<div class="row">
        <div class="col s12 center-align">
                <img style="height:500px" src="./img/archi_swloc.svg" alt="SwLoc Architecture" />
        </div>
</div>

<div class="row">
        <div class="col s12">
                <div class="card white z-depth-3">
                        <div class="card-content teal-text text-darken-3">
                                <span class="card-title teal-text text-darken-4">Try it !</span>
                                <p>Here, an example to create some SwLoc contexts inside a SwLoc context :</p>
                        </div>
                </div>
        </div>
</div>

<div class="row">
        <div class="col s12">
                <div class="card teal darken-4 z-depth-3">
                        <div class="card-content white-text">
                                <span class="card-title white-text">File example.cpp</span>
                                <pre>
                                        <code class="language-c">
#include &lt;stdlib.h&gt;
#include &lt;stdio.h&gt;

#include &lt;swloc.h&gt;

int func_second_lvl(int argc, char ** argv)
{
        (void) argc;
        (void) argv;

        //Do work

        return EXIT_SUCCESS;
}

int func_first_lvl(int argc, char ** argv)
{
        swloc_init();

        swloc_context_t ctx1 = swloc_context_create(SWLOC_CONTEXT_NB_CPUS_HALF, SWLOC_CONTEXT_END);
        swloc_context_t ctx2 = swloc_context_create(SWLOC_CONTEXT_NB_CPUS_HALF, SWLOC_CONTEXT_END);

        struct swloc_kernel_options opt;
        swloc_kernel_options_init(&amp;opt);
        opt.func_main = func_second_lvl;
        opt.argc = argc;
        opt.argv = argv;

        swloc_kernel_t knl1 = swloc_kernel_start(ctx1, &amp;opt);
        swloc_kernel_t knl2 = swloc_kernel_start(ctx2, &amp;opt);

        swloc_kernel_wait(knl1);
        swloc_kernel_wait(knl2);

        swloc_context_destroy(ctx1);
        swloc_context_destroy(ctx2);

        swloc_finalize();

        return EXIT_SUCCESS;
}

int main(int argc, char ** argv)
{
        swloc_init();

        swloc_context_t ctx1 = swloc_context_create(SWLOC_CONTEXT_NB_CPUS_HALF, SWLOC_CONTEXT_END);
        swloc_context_t ctx2 = swloc_context_create(SWLOC_CONTEXT_NB_CPUS_HALF, SWLOC_CONTEXT_END);

        struct swloc_kernel_options opt;
        swloc_kernel_options_init(&amp;opt);
        opt.func_main = func_first_lvl;
        opt.argc = argc;
        opt.argv = argv;

        swloc_kernel_t knl1 = swloc_kernel_start(ctx1, &amp;opt);
        swloc_kernel_t knl2 = swloc_kernel_start(ctx2, &amp;opt);

        swloc_kernel_wait(knl1);
        swloc_kernel_wait(knl2);

        swloc_context_destroy(ctx1);
        swloc_context_destroy(ctx2);

        swloc_finalize();

        return EXIT_SUCCESS;
}

                                        </code>
                                </pre>
                        </div>
                </div>
        </div>
</div>

<div class="row">
        <div class="col s12">
                <div class="card white z-depth-3">
                        <div class="card-content teal-text text-darken-3">
                                <p>Now, let's try to manipulate resources between contexts !</p>
                        </div>
                        <div class="center-align">
                                <p><a class="waves-effect waves-light btn-floating btn-large teal accent-3" href="?p=examples&s=hypervisor"><i class="large material-icons">send</i></a><br /><br /></p>
                        </div>
                </div>
        </div>
</div>
-->
