<h1 class="center teal-text text-darken-3">Step by Step Examples</h1>
<h3 class="center teal-text text-darken-4">Transform easily your code to use SwLoc !</h3>

<div class="row">
        <div class="col s12">
                <div class="card white z-depth-3">
                        <div class="card-content teal-text text-darken-3">
                                <span class="card-title teal-text text-darken-4">The beginning</span>
                                <p>When you want to use SwLoc for the first time, you have 2 or more codes and each has its own main.</p>
                                <p>Each has also its own topology detection based on <strong>HwLoc</strong> and basically use the entire set of resources of the machine by creating threads with <strong>pthread</strong>.</p>
                        </div>
                </div>
        </div>
</div>

<div class="row">
        <div class="col s12 m6">
                <div class="card teal darken-4 z-depth-3">
                        <div class="card-content white-text">
                                <span class="card-title white-text">File one.c</span>
                                <pre>
                                        <code class="language-c">
int main(int argc, char ** argv)
{
        //Do some interesting things

        return EXIT_SUCCESS;
}
                                        </code>
                                </pre>
                        </div>
                </div>
        </div>
        <div class="col s12 m6">
                <div class="card teal darken-4 z-depth-3">
                        <div class="card-content white-text">
                                <span class="card-title white-text">File two.c</span>
                                <pre>
                                        <code class="language-c">
int main(int argc, char ** argv)
{
        //Do also some interesting things

        return EXIT_SUCCESS;
}
                                        </code>
                                </pre>
                        </div>
                </div>
        </div>
</div>

<div class="row">
        <div class="col s12">
                <div class="card white z-depth-3">
                        <div class="card-content teal-text text-darken-3">
                                <p>The first thing you need to do is to rename each <strong>main</strong> function.</p>
                                <p>For this example, we add the filename at the end of the main.</p>
                        </div>
                </div>
        </div>
</div>

<div class="row">
        <div class="col s12 m6">
                <div class="card teal darken-4 z-depth-3">
                        <div class="card-content white-text">
                                <span class="card-title white-text">File one.c</span>
                                <pre>
                                        <code class="language-c">
int main_one(int argc, char ** argv)
{
        //Do some interesting things

        return EXIT_SUCCESS;
}
                                        </code>
                                </pre>
                        </div>
                </div>
        </div>
        <div class="col s12 m6">
                <div class="card teal darken-4 z-depth-3">
                        <div class="card-content white-text">
                                <span class="card-title white-text">File two.c</span>
                                <pre>
                                        <code class="language-c">
int main_two(int argc, char ** argv)
{
        //Do also some interesting things

        return EXIT_SUCCESS;
}
                                        </code>
                                </pre>
                        </div>
                </div>
        </div>
</div>

<div class="row">
        <div class="col s12">
                <div class="card white z-depth-3">
                        <div class="card-content teal-text text-darken-3">
                                <p>Then, it's time to firstly use SwLoc ! We will do it together step by step !</p>
                                <p>Let's begin by creating a main function and initialize (and also finalize) SwLoc.</p>
                        </div>
                </div>
        </div>
</div>

<div class="row">
        <div class="col s12">
                <div class="card teal darken-4 z-depth-3">
                        <div class="card-content white-text">
                                <span class="card-title white-text">File swloc.c</span>
                                <pre>
                                        <code class="language-c">
int main(int argc, char ** argv)
{
        swloc_init();

        swloc_finalize();

        return EXIT_SUCCESS;
}
                                        </code>
                                </pre>
                        </div>
                </div>
        </div>
</div>

<div class="row">
        <div class="col s12">
                <div class="card white z-depth-3">
                        <div class="card-content teal-text text-darken-3">
                                <p>Now, it's time to think about how many parts do you want to divide your machine</p>
                                <p>Here, we want to run two codes, with the same resources on the machine. Therefore, we create two contexts with the same number of cores. The function to create the context is <strong>swloc_context_create()</strong>. It can take a list of parameters ended by <strong>SWLOC_CONTEXT_END</strong>. We require the half of the computer with <strong>SWLOC_CONTEXT_NB_CPUS_HALF</strong>.</p>

                        </div>
                </div>
        </div>
</div>

<div class="row">
        <div class="col s12">
                <div class="card teal darken-4 z-depth-3">
                        <div class="card-content white-text">
                                <span class="card-title white-text">File swloc.c</span>
                                <pre>
                                        <code class="language-c">
int main(int argc, char ** argv)
{
        swloc_init();

        /* Divide the machine equally in two */
        swloc_context_t ctx1 = swloc_context_create(SWLOC_CONTEXT_NB_CPUS_HALF, SWLOC_CONTEXT_END);
        swloc_context_t ctx2 = swloc_context_create(SWLOC_CONTEXT_NB_CPUS_HALF, SWLOC_CONTEXT_END);

        /* Free everything */
        swloc_context_destroy(ctx1);
        swloc_context_destroy(ctx2);

        swloc_finalize();

        return EXIT_SUCCESS;
}
                                        </code>
                                </pre>
                        </div>
                </div>
        </div>
</div>

<div class="row">
        <div class="col s12">
                <div class="card white z-depth-3">
                        <div class="card-content teal-text text-darken-3">
                                <p>After creating the contexts, we have to specify which code we want to execute and on which context.</p>
                                <p>We use for that purpose, the structure <strong>swloc_kernel_options</strong>. In each structure, you can describe the function to execute, the number of parameters, and the parameters themselves like a main function.</p>
                                <p>Then, give this structure and the context to the function <strong>swloc_kernel_start()</strong> to start the computation.</p>
                                <p>Don't forget to wait until it will be finished with the function <strong>swloc_kernel_wait()</strong> !</p>
                        </div>
                </div>
        </div>
</div>

<div class="row">
        <div class="col s12">
                <div class="card teal darken-4 z-depth-3">
                        <div class="card-content white-text">
                                <span class="card-title white-text">File swloc.c</span>
                                <pre>
                                        <code class="language-c">
int main(int argc, char ** argv)
{
        swloc_init();

        /* Divide the machine equally in two */
        swloc_context_t ctx1 = swloc_context_create(SWLOC_CONTEXT_NB_CPUS_HALF, SWLOC_CONTEXT_END);
        swloc_context_t ctx2 = swloc_context_create(SWLOC_CONTEXT_NB_CPUS_HALF, SWLOC_CONTEXT_END);

        struct swloc_kernel_options opt1, opt2;

        /* Select options to launch func1 with parameters argc and argv */
        swloc_kernel_options_init(&opt1);
        opt1.func_main = func1;
        opt1.argc = argc;
        opt1.argv = argv;

        /* Select options to launch func2 with parameters argc and argv */
        swloc_kernel_options_init(&opt2);
        opt2.func_main = func2;
        opt2.argc = argc;
        opt2.argv = argv;

        /* Launch the computation on each context */
        swloc_kernel_t knl1 = swloc_kernel_start(ctx1, &opt1);
        swloc_kernel_t knl2 = swloc_kernel_start(ctx2, &opt2);

        /* Wait them */
        swloc_kernel_wait(knl1);
        swloc_kernel_wait(knl2);

        /* Free everything */
        swloc_context_destroy(ctx1);
        swloc_context_destroy(ctx2);

        swloc_finalize();

        return EXIT_SUCCESS;
}
                                        </code>
                                </pre>
                        </div>
                </div>
        </div>
</div>

<div class="row">
        <div class="col s12">
                <div class="card white z-depth-3">
                        <div class="card-content teal-text text-darken-3">
                                <p>So, now you are an expert of the basics of SwLoc, let's go to the next step : SwLoc with runtimes !
                        </div>
                        <div class="center-align">
                                <p><a class="waves-effect waves-light btn-floating btn-large teal accent-3" href="?p=examples&s=runtimes"><i class="large material-icons">send</i></a><br /><br /></p>
                        </div>
                </div>
        </div>
</div>
